<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-au-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href='/static/node_modules/@fullcalendar/core/main.css'>
    <link rel="stylesheet" href='/static/node_modules/@fullcalendar/daygrid/main.css'>
    <link rel="stylesheet" href='/static/node_modules/@fullcalendar/timegrid/main.css'>

    <title>nav.igate</title>
</head>

<body>
    <a href="#" onclick="signOut();">Sign out</a>

    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Event</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form id="eventForm">
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="eventName">Event name</label>
                                <input type="text" class="form-control" id="eventName"
                                    placeholder="Enter event name">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="startDate">Start date</label>
                                <input type="datetime-local" class="form-control" id="startDate" placeholder="Enter start date">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="endDate">End date</label>
                                <input type="datetime-local" class="form-control"
                                    id="endDate" placeholder="Enter end date">
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" id="addButton" class="btn btn-primary btn-sm ml-1"
                                data-dismiss="modal">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h1>Your calendar:</h1>

    <div class="container" id="calendar">
    </div>

    <script src="/static/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/static/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='/static/node_modules/@fullcalendar/core/main.js'></script>
    <script src='/static/node_modules/@fullcalendar/daygrid/main.js'></script>
    <script src='/static/node_modules/@fullcalendar/timegrid/main.js'></script>
    <script src="/static/node_modules/@fullcalendar/interaction/main.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>
</html>